<%- include("partials/head.ejs") %>
<link rel="stylesheet" href="/css/index.css">
<%- include("partials/header.ejs") %>

<main class="index-page">
    <section class="hero">
        <img src="/images/saver-sub.png" alt="Saver Sub" class="hero-image">
        <div class="hero-content">
            <h1>Hi my name is <span>Sub!</span>.</h1>
            <p>Your friendly subscription saver. I’ll remind you of your upcoming due dates and help you avoid charges from your free trials. Together, we will keep all your subscriptions and payments under control.</p>
            <div class="cta">
                <a href="/sessions/logon" class="btn btn-primary">Login</a>
                <a href="/sessions/register" class="btn btn-secondary">Register</a>
            </div>
        </div>
    </section>
</main>

<%- include("partials/footer.ejs") %>
