<%- include("partials/head.ejs") %>
<link rel="stylesheet" href="/css/auth.css">
<%- include("partials/header.ejs") %>

<main class="auth-container">
    <h1>Reset Your Password</h1>
    <p>Please enter your new password below.</p>
    <div class="auth-box">
        <h1>Set New Password</h1>
        <form method="POST">
            <input type="hidden" name="_csrf" value="<%= _csrf %>">
            <div class="input-group">
                <label for="password">New Password:</label>
                <input type="password" name="password" required />
            </div>
            <div class="input-group">
                <label for="password1">Confirm New Password:</label>
                <input type="password" name="password1" required />
            </div>
            <button class="login-btn">Reset Password</button>
            <a href="/" class="cancel-btn">Cancel</a>
        </form>
    </div>
</main>

<%- include("partials/footer.ejs") %>
